@import  '../../constants.less';
@import  '../../themes.less';
.app-nav{
    .dark&{
        border-top:2px solid @window-background-dark;
        border-bottom:2px solid @window-background-dark;
    }
    .light&{
        border-top:2px solid @window-background-light;
        border-bottom:2px solid @window-background-light;
    }
    .nav-container {
        -webkit-user-select: none;
        -webkit-app-region : drag;
        display            : flex;
        align-items        : center;
        justify-content    : center;
        width              : 100%;
        height             : @navHeight;
        .dark&{
            background         : @window-background-dark;
        }
        .light&{
            background         : @window-background-light;
        }
        .nav-logo {
            height:@navHeight;
        }

        .nav-overflow-container {
            min-width: 1px;
            overflow : hidden;
        }
        .nav-actions {
            list-style:none;
            font-family: "Segoe WPC", "Segoe UI", SFUIText-Light, HelveticaNeue-Light, sans-serif, "Droid Sans Fallback";
            display    : flex;
            height     : @navHeight;
            &.sys-buttons-group {
                margin-left: auto;
                padding-left:50px;
            }

            .nav-button {
                -webkit-app-region: no-drag;
                padding           : 6px 10px 6px 10px;
                .dark&{
                    color             : @font-color-dark;
                    background         : @window-background-dark;//covers the text hidden by overflow dots
                }
                .light&{
                    color             : rgb(45, 45, 47);
                    background         : @window-background-light;//covers the text hidden by overflow dots
                }
                &:hover {
                    .dark&{
                        background: rgb(114, 114, 110);
                    }
                    .light&{
                        background: #f7f8fa
                    }
                }

                &.setting {
                    padding-right: 7px;
                    padding-left : 7px;
                    font-size    : 12px;
                }

                &.exit {
                    &:hover {
                        background: rgb(218, 16, 16);
                        color     : white;
                    }
                }
                
            }
            .overflow-indicator{
                position: absolute;
                margin-left:8px;
                .dark&{
                    background         : @window-background-dark;
                }
                .light&{
                    background         : @window-background-light;
                }
                .three-dots{
                    padding-top:7px;
                    padding-bottom: 7px;
                }
            }
        }
    }
}