.layers-container {
    // background: blue;
    height        : 100vh;
    display       : flex;
    flex-direction: column;

    .layers-nav-dummy-scale {
        border-radius: 7px 7px 0 0;

        .dark& {
            border-top  : 2px solid rgb(71, 71, 69);
            border-left : 2px solid rgb(71, 71, 69);
            border-right: 2px solid rgb(71, 71, 69);
        }

        .layers-nav {
            width             : 100%;
            height            : 14px;
            -webkit-app-region: drag;

            .dark& {
                background: rgb(71, 71, 69);
            }
        }
    }

    .layers-options-top-dummy-scale {
        border-right: 2px solid rgb(83, 85, 83);
        border-left : 2px solid rgb(83, 85, 83);
        flex        : 0 0 25px;

        .layers-options-top {
            -webkit-app-region: drag;
            height            : 25px;

            .dark& {
                background: rgb(83, 85, 83);
            }
        }
    }


    .layers-list {
        flex      : 1 1 auto;
        overflow-x: hidden;
        overflow-y: scroll;
        text-align: justify;

        .dark& {
            border-left     : 4px solid rgb(83, 85, 83);
            border-right    : 4px solid rgb(83, 85, 83);
            background-color: rgb(56, 56, 58);
        }

        .layer-item {
            height        : 30px; //jitter-fix
            box-sizing    : border-box; //jitter-fix
            margin        : 0 0 0px 2px;
            display       : flex;
            flex-direction: row;
            align-items   : center;
            justify-items : center;

            .dark& {
                border-bottom: 1px solid rgb(83, 77, 77);
            }

            .eye-icon {
                cursor            : pointer;
                display           : flex;
                align-items       : center;
                justify-content   : center;
                -webkit-app-region: no-drag;
                font-size         : 14px;
                min-width         : 16px;
                min-height        : 17px;
                margin            : 2px 2px 1px 2px;
                padding           : 1px 2px;
                border            : 1px solid transparent;

                .dark& {
                    color: rgb(216, 210, 210);
                }

                &:hover {
                    background: rgb(46, 45, 45);
                    border    : 1px solid rgba(116, 115, 112, 0.5);
                }
            }

            .preview-name-lock-container {
                width      : 100%;
                display    : flex;
                align-items: center;

                &.active-layer {
                    .dark& {
                        background: rgb(31, 31, 34);
                    }
                }

                .canvas-preview {
                    cursor : grab;
                    margin : 2px 0 2px 2px;
                    padding: 2px;

                    &.active-preview {
                        background-position: left top, left bottom, left top, right top;
                        background-repeat  : repeat-x, repeat-x, repeat-y, repeat-y;
                        background-size    : 66.67% 1.02px, 66.67% 1.02px, 1.02px 66.67%, 1.02px 66.67%;

                        .dark& {
                            background-image: linear-gradient(to right, rgb(168, 154, 154) 50%, transparent 50%), linear-gradient(to right, rgb(168, 154, 154) 50%, transparent 50%), linear-gradient(to bottom, rgb(168, 154, 154) 50%, transparent 50%), linear-gradient(to bottom, rgb(168, 154, 154) 50%, transparent 50%);
                        }
                    }

                    .transparent-background-mini {
                        width              : 23px;
                        height             : 18px;
                        background         : linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), #e6e3e3;
                        background-position: 0px 0, 2px 2px;
                        background-size    : 4px 4px, 4px 4px;
                        touch-action       : none;
                        border             : 1px solid transparent;

                        .canvas-preview-img {
                            width : 23px;
                            height: 18px;
                        }
                    }
                }

                .layer-name {
                    background: none;
                    width     : 100%;
                    font-size : 11.5px;
                    outline   : none;
                    margin    : 2px 2px 1px 2px;
                    padding   : 2.5px 0 2.5px 4px;
                    border    : 1px solid transparent;

                    .dark& {
                        color: rgb(216, 210, 210);
                    }

                    &:focus {
                        .dark& {
                            background: rgb(46, 45, 45);
                            border    : 1px solid rgba(116, 115, 112, 0.5);
                        }
                    }
                }

                .lock-icon {
                    cursor            : pointer;
                    display           : flex;
                    align-items       : center;
                    justify-content   : center;
                    -webkit-app-region: no-drag;
                    font-size         : 18px;
                    min-width         : 16px;
                    min-height        : 17px;
                    margin            : 2px 2px 1px 2px;
                    padding           : 1px 2px;
                    border            : 1px solid transparent;

                    .dark& {
                        color: rgb(216, 210, 210);
                    }

                    &:hover {
                        .dark& {
                            background: rgb(46, 45, 45);
                            border    : 1px solid rgba(116, 115, 112, 0.5);
                        }
                    }
                }
            }

        }


        &::-webkit-scrollbar {
            // display : none;
            width: 13px;
        }

        &::-webkit-scrollbar-track {
            display: block;

            // display                : none;
            .dark& {
                background: rgb(83, 85, 83);
            }
        }

        &::-webkit-scrollbar-thumb:vertical {
            //display         : none;
            border-left  : none;
            border-radius: 2px 8px 5px 3px;

            .dark& {
                background-color: rgb(133, 122, 122);
                border          : 0.7px solid rgb(63, 61, 61);
            }
        }

        &::-webkit-scrollbar-track-piece:start {
            margin-top: 0.3px;
        }

        &::-webkit-scrollbar-track-piece:vertical {
            border-radius: 0 8px 6px 0;

            .dark& {
                background : rgb(41, 40, 40);
                border-left: 1px solid rgba(122, 115, 115, 0.363);
            }
        }

    }

    .layers-options-bottom-dummy-scale {
        border-right: 2px solid rgb(83, 85, 83);
        border-left : 2px solid rgb(83, 85, 83);

        .layers-options-bottom {
            transform         : translateY(-1px);
            -webkit-app-region: drag;
            display           : flex;
            height            : 25px;
            border-radius     : inherit;

            .dark& {
                background: rgb(83, 85, 83);
            }

            .layers-control {
                margin-left : auto;
                margin-right: 8px;
            }
        }
    }


    .layers-icon {
        -webkit-app-region: no-drag;
        font-size         : 14px;
        margin            : 1px 3px 0 3px;
        padding           : 4px;

        .dark& {
            color: rgb(216, 210, 210);
        }

        &:hover {
            .dark& {
                background: rgb(114, 114, 110);
            }
        }
    }

    .layers-footer-dummy-scale {
        margin-top   : -1px;
        //border-top:none;
        border-radius: 0 0 7px 7px;

        .dark& {
            border: 2px solid rgb(71, 71, 69);
        }

        .layers-footer {
            width : 100%;
            height: 8px;

            .dark& {
                background: rgb(71, 71, 69);
            }
        }
    }
}