@import '../constants.less';

.tools-nav{
    border-radius:7px 7px 0 0;
    background         : rgb(71, 71, 69);
    width              : 100%;
    height             : 14px;
    -webkit-app-region : drag;
    .nav-container {
        -webkit-user-select: none;
        display            : flex;
        align-items        : center;
        justify-content    : center;

    }
}

.tools-container{
    -webkit-app-region : drag;
    border-radius:0 0 7px 7px;
    background:rgb(83, 85, 83);
    height:calc(100vh - 17px);
    .icons-container{
        padding-top:10px;
        display:flex;
        justify-content: center;
        flex-wrap:wrap;
        .tools-icon{
            -webkit-app-region : no-drag;
            color:rgb(216, 210, 210);
            font-size:17px;
            margin:1px;
            padding:5px;
            &:hover {
                background: rgb(114, 114, 110);
            }
        }
    }
}
